$black: #333;
$green: #005249;
$yellow: #c99300;
$border: #dcdcdc;

input::-webkit-input-placeholder {
	color: rgba($yellow, .8);
}

input:-moz-placeholder {
	color: rgba($yellow, .8);
}

input::-moz-placeholder {
	color: rgba($yellow, .8);
}

input:-ms-input-placeholder {
	color: rgba($yellow, .8);
}

input {
  &:focus {
    outline: none;
  }
}

.btn {
  &:hover{
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }
}


.container {
  width: 100%;
  padding: 0 20px;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: 580px;
  }
}

.to-do-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top {
    background: #fafafa;
    padding: 30px 0 40px;
  }

  .result {
    display: flex;
    height: 100%;
    overflow: auto;
  }
}

.title {
  font-family: 'DM Serif Display', serif;
  text-transform: capitalize;
  color: $green;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  display: flex;
}

.form-input {
  border: 1px solid $border;
  color: #969696;
  height: 36px;
  flex: 1;
  margin-right: 10px;
  padding: 0 15px;
  color: $black;
}

.submit-btn {
  text-transform: uppercase;
  font-weight: 600;
  background: $yellow;
  color: #fff;
  border: 0;
  box-shadow: none;
  height: 38px;
  padding: 0 18px;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  &:hover:not(:disabled) {
    background: #C1554D;
  }
}

.listing {
  padding: 45px 0 25px 0;
}

.no-results {
  text-align: center;
  padding-top: 55px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.item {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: $green;
  border-radius: 3px;
  border: 1px solid $border;
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 20px;
  position: relative;
  transition: fadeIn linear 10s;

  .checkbox {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
  }

  .checkmark {
    visibility: hidden;
    opacity: 0;
  }

  .text {
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
  }

  .close-btn {
    background: #fff;
    border: 0;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fafafa;
    color: $green;
    position: absolute;
    right: -10px;
    top: -10px;
    box-shadow: 0 2px 6px rgba($yellow, .2);
    transition: 0.2s;

    span {
      font-size: 13px;
      line-height: 1;
      position: relative;
      margin-top: -2px;
    }

    &:hover {
      color: #fff;
      background: $yellow;
    }
  }

  &.completed {
    .checkmark {
      visibility: visible;
      opacity: 1;
    }

    .text {
      text-decoration: line-through;
      color: #B5AA99;
    }
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
